
.header-bg{
  background-color: #61dafb !important;
  color: azure !important;
}

.name-title{

}

/* PORTFOLIO PAGE */
.portfolio-card{
  width: 350px;
  /* min-width: 250px; */
  margin: 15px;
}
.card-wrap{
  display: flex; 
  flex-wrap: wrap;
}

/* CONTACT ME PAGE*/
.contact-input{
  display:flex; 
  justify-content: center;

}

.contact-input input{
  display: block;
  margin: 14px 0px;
}

.img-container{
  margin: 24px;
}

/* ABOUT ME PAGE*/
.about-txt{
  margin:20px;
  text-align: center;
}

.cassie-photo{
  margin: 20px;
}

.bio{
  margin:20px;
}

.bio-description{
  margin:20px;
}


